<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Category
    </th>
    <th>
      Room
    </th>
    <th>
      Quantity
    </th>
    <th>
      Make
    </th>
    <th>
      Model
    </th>
    <th>
      Place of Purchase
    </th>
    <th>
      Purchase Date
    </th>
    <th>
      Purchase Price
    </th>
    <th>
      Replacement Price
    </th>
    <th>
      Serial Number
    </th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td>
        <%= item.name %>
        <% unless item.image.nil? %>
          <%= image_tag item.image %>
        <% end %>
      </td>
      <td>
        <% unless item.category.nil? %>
          <%= item.category.name %>
        <% else %>
          Uncategorized
        <% end %>
      </td>
      <td>
        <% unless item.room.nil? %>
          <%= item.room.name %>
        <% else %>
          No Room
        <% end %>
      </td>
      <td>
        <%= item.quantity %>
      </td>
      <td>
        <%= item.make %>
      </td>
      <td>
        <%= item.model %>
      </td>
      <td>
        <%= item.place_of_purchase %>
      </td>
      <td>
        <%= item.purchase_date %>
      </td>
      <td>
        <%= item.purchase_price %>
      </td>
      <td>
        <%= item.replacement_price %>
      </td>
      <td>
        <%= item.serial_number %>
      </td>
      <td>
        <%= link_to "Edit", "#", "data-reveal-id" => "edit_item_#{item.id}" %>
        <%= content_tag :div, id: "edit_item_#{item.id}", class: "reveal-modal", "data-reveal" => true do %>
          <%= render 'items/update_item', item: item, house_options: @house_options %>
          <%= link_to "&#215;".html_safe, "#", onclick: "$('#edit_item_#{item.id.to_s}').foundation('reveal', 'close');", class: "close-reveal-modal" %> 
        <% end %>
      </td>
      <td>
        <%= link_to "Delete", delete_item_path(item.id), method: :delete, remote: true, :data => {confirm: "Are you sure you want to permanently delete this item?"} %>
      </td>
    </tr>
  <% end %>
</table>