<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "HouseStache", root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <% if user_signed_in? %>
      <ul class="left">
        <li class="divider"></li>
        <li>
          <%= link_to "Inventory", inventory_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Improvements", improvements_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Reports", reports_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Insurance", insurance_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Settings", settings_path %>
        </li>
        <li class="divider"></li>
      </ul>
    <% end  %>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
    </ul>
  </section>
</nav>